html, body{
    margin: 0;
    padding: 0;
}

#container{
    background: url(./images/bnw_herbert.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.overlay{
    background: rgba(0, 0, 0, 0.89);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
}

#header{
    transform: translate(5%, 30%);
    position: relative;
    z-index: 1;
}

#header h1{
    font-size: 8.5rem;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.383);
    position: relative;
    z-index: 1;
}

#header h2{
    font-size: 2.5rem;
    padding: 7px;
    color: #407F3E;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    font-weight: 300;
}

.menu{
    position: fixed;
    z-index: 5;
    top: 225px;
    right: 0;
    width: 10%;
}

label{
    /* position: absolute; */
    top: 0;
    z-index: 6;
    display: none;
    background: #fff;
    color: #407F3E;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}

.menu a{
    margin: 3px;
    background: #407F3E;
    color: #fff;
    width: 100%;
}
.menu a:hover{
    color: #407F3E;
    background: #fff;
}

section{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: -1370px;
    z-index: 4;
    transition: .3s ease-in-out;
    background-color: #232323;
}

/*.workflow_page{
    
     overflow-y: scroll; 
}

.portfolio_page{

}

.cv_download_page{
    
}*/

.home_btn{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #606060;
    width: 100px;
    height: 100px;
    z-index: 5;
    color: #aeaeae;
    text-align: center;
    font-size: 55px;
    border-radius: 100% 0 0 0;
    text-decoration: none;
}

.home_btn i{
    position: absolute;
    top: 30%;
    right: 8%;
}



@media (max-width: 1028px) {
    .all_nav{
        display: flex;
        position: absolute;
        top: 0;
        left: -240px;
        transition: .3s ease-in-out;
    }
    .menu{
        position: unset;
        top: 5%;
        /* left: -188px; */
        width: 50%;
        /* display: none; */
        transition: .3s ease-in-out;
    }
    
    .menu a{
        margin: -1px;
        /* width: auto; */
        height: 58px;
        font-size: 25px;
    }
    .all_nav #menu_open{
        display: block;
    }
    #header{
        transform: translate(0%, 40%);
    }
    #header h1{
        font-size: 3rem;
        font-weight: 200;
    }
    
    #header h2{
        font-size: 2.5rem;
    }
    .home_btn{
        width: 70px;
        height: 70px;
        font-size: 35px;
        top: 0;
        border-radius: 0 0 0 100%;
    }
    .home_btn i{
        top: 17%;
        right: 11%;
    }
}
